@model BeanScene.ViewModels.FoodViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MgmtLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Catagory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food.Catagory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Food.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
